<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMSService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/MSService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMSService" contract="IMSService"
                name="WSHttpBinding_IMSService">
                <identity>
                    <servicePrincipalName value="Local Network" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>